* {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #00ff00;
    font-family: 'Consolas', Courier, monospace;
    /* overflow: hidden; Não dar mais pra scrollar */
}

header {
    border: 3px solid transparent;
    border-bottom: 5px double #00ff00;
    padding: 20px;
}

#textbox {
    border-left: 3px solid #00ff00;
    outline: none;
}

.user-input input {
    width: 100vw;
    padding: 5px;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: #000;
    color: #00ff00;
}

::placeholder {
    color: #00ff00;
}